{% extends 'templates/bbase.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}Welcome{% endif %}
{% endblock %}

{% block navbar %}
<div class="container">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Anfisbena</a>
        <a class="navbar-brand" href="{{ url_for('messages') }}">Поток</a>
        <a class="navbar-brand" href="{{ url_for('bot') }}">Статистика</a>
    </nav>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
    <div class="container">
        <footer class="footer">&copy; 2021 Anfisbena</footer>
    </div>
{% endblock %}
